{
 :deps
 {
  org.clojure/clojure         {:mvn/version "1.10.1"}
  org.clojure/core.async      {:mvn/version "1.3.610"}
  com.cognitect/anomalies     {:mvn/version "0.1.12"}
  com.datomic/client-cloud    {:mvn/version "0.8.113"}}

 :paths ["src"]

 :aliases
 {
  :local
  {
   :extra-deps
   {
    com.datomic/dev-local {:mvn/version "0.9.232"}}}

  :dev
  {
   :extra-deps
   {
    org.clojure/data.generators {:mvn/version "0.1.2"}}
   
   :extra-paths ["resources"]}}

 :mvn/repos
 {
  "datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}}
